In [155]:
import pandas 
import numpy as np
import math

In [156]:
df = pandas.read_csv('data/20192020data.csv')
aggdict = dict()
for item in df.items():
    #print(item[0])
    if item[0] == 'Rk' or item[0] == 'S%' or item[0] == 'FO%':
        print("ok")
        aggdict[item[0]] = 'mean'
    else:
        aggdict[item[0]] = 'sum'
print(aggdict)
clean = df.groupby(['Player']).agg(aggdict) 
stored = 0

lastnames = []
firstnames = []
for i in clean.iterrows():
    #print(i[0])
    first = ""
    last = ""
    f = True
    for letter in i[0]:
        if letter == "\\" :
            break
        if letter == " ":
            f = False
            continue
        if f:
            first = first +letter
        else:
            last += letter
    #print(last,first)
    lastnames.append(last)
    firstnames.append(first)
clean['First'] = firstnames
clean['Last'] = lastnames

clean = clean.sort_values(['Last'])
clean = clean.drop('Rk', 1)
clean

ok
ok
ok
{'Rk': 'mean', 'Player': 'sum', 'Age': 'sum', 'Tm': 'sum', 'Pos': 'sum', 'GP': 'sum', 'G': 'sum', 'A': 'sum', 'PTS': 'sum', '+/-': 'sum', 'PIM': 'sum', 'PS': 'sum', 'EV': 'sum', 'PP': 'sum', 'SH': 'sum', 'GW': 'sum', 'EV.1': 'sum', 'PP.1': 'sum', 'SH.1': 'sum', 'S': 'sum', 'S%': 'mean', 'TOI': 'sum', 'ATOI': 'sum', 'BLK': 'sum', 'HIT': 'sum', 'FOW': 'sum', 'FOL': 'sum', 'FO%': 'mean'}

,Player,Age,Tm,Pos,GP,G,A,PTS,+/-,PIM,...,S%,TOI,ATOI,BLK,HIT,FOW,FOL,FO%,First,Last
Player,,,,,,,,,,,,,,,,,,,,,
Justin Abdelkader\abdelju01,Justin Abdelkader\abdelju01,32,DET,LW,49,0,3,3,-14,25,...,0.000000,565,11:32,26,103,38,31,55.100000,Justin,Abdelkader
Pontus Aberg\abergpo01,Pontus Aberg\abergpo01,26,TOR,LW,5,0,1,1,0,0,...,0.000000,44,8:42,1,1,0,0,NaN,Pontus,Aberg
Vitaly Abramov\abramvi01,Vitaly Abramov\abramvi01,21,OTT,RW,2,1,0,1,0,2,...,33.300000,12,5:47,0,0,0,0,NaN,Vitaly,Abramov
Noel Acciari\acciano01,Noel Acciari\acciano01,28,FLA,C,66,20,7,27,2,21,...,18.500000,1054,15:58,103,121,381,414,47.900000,Noel,Acciari
Andrew Agozzino\agozzan01,Andrew Agozzino\agozzan01Andrew Agozzino\agozz...,87,TOTPITANA,LWLWLW,44,2,4,6,6,8,...,20.000000,324,7:216:369:56,14,50,76,74,50.500000,Andrew,Agozzino
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Valentin Zykov\zykovva01,Valentin Zykov\zykovva01,24,VEG,LW,15,1,3,4,-2,6,...,5.300000,183,12:13,3,20,0,1,0.000000,Valentin,Zykov
Calvin de Haan\dehaaca01,Calvin de Haan\dehaaca01,28,CHI,D,29,1,5,6,10,10,...,2.400000,577,19:55,73,93,0,0,NaN,Calvin,deHaan
Jacob de La Rose\delarja01,Jacob de La Rose\delarja01Jacob de La Rose\del...,72,TOTSTLDET,LWLWLW,100,4,14,18,4,20,...,4.733333,1073,10:4310:0112:13,32,240,236,312,43.066667,Jacob,deLaRose
James van Riemsdyk\vanrija01,James van Riemsdyk\vanrija01,30,PHI,LW,66,19,21,40,5,8,...,12.600000,983,14:54,18,25,8,15,34.800000,James,vanRiemsdyk
Trevor van Riemsdyk\vanritr01,Trevor van Riemsdyk\vanritr01,28,CAR,D,49,1,7,8,-7,10,...,1.700000,728,14:52,37,21,0,0,NaN,Trevor,vanRiemsdyk

In [157]:
clean.columns.name = df.index.name
clean.index.name = None

clean.reset_index(drop=True, inplace=True)
clean = clean.drop('Player', 1)
clean #HERE IS FINAL 
## RIGHT NOW I STILL NEED TO Adress the Team and the position being weird, but that should be easy

,Age,Tm,Pos,GP,G,A,PTS,+/-,PIM,PS,...,S%,TOI,ATOI,BLK,HIT,FOW,FOL,FO%,First,Last
0,32,DET,LW,49,0,3,3,-14,25,-0.9,...,0.000000,565,11:32,26,103,38,31,55.100000,Justin,Abdelkader
1,26,TOR,LW,5,0,1,1,0,0,0.0,...,0.000000,44,8:42,1,1,0,0,NaN,Pontus,Aberg
2,21,OTT,RW,2,1,0,1,0,2,0.2,...,33.300000,12,5:47,0,0,0,0,NaN,Vitaly,Abramov
3,28,FLA,C,66,20,7,27,2,21,2.9,...,18.500000,1054,15:58,103,121,381,414,47.900000,Noel,Acciari
4,87,TOTPITANA,LWLWLW,44,2,4,6,6,8,0.5,...,20.000000,324,7:216:369:56,14,50,76,74,50.500000,Andrew,Agozzino
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
878,24,VEG,LW,15,1,3,4,-2,6,0.1,...,5.300000,183,12:13,3,20,0,1,0.000000,Valentin,Zykov
879,28,CHI,D,29,1,5,6,10,10,1.9,...,2.400000,577,19:55,73,93,0,0,NaN,Calvin,deHaan
880,72,TOTSTLDET,LWLWLW,100,4,14,18,4,20,0.8,...,4.733333,1073,10:4310:0112:13,32,240,236,312,43.066667,Jacob,deLaRose
881,30,PHI,LW,66,19,21,40,5,8,4.5,...,12.600000,983,14:54,18,25,8,15,34.800000,James,vanRiemsdyk
882,28,CAR,D,49,1,7,8,-7,10,1.0,...,1.700000,728,14:52,37,21,0,0,NaN,Trevor,vanRiemsdyk

<class 'pandas.core.groupby.generic.DataFrameGroupBy'>